<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>details</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<style>
		#count {
			padding: 50px 0px;
		}

		#fileUrl {
			padding-bottom: 50px;
		}

		label {
			padding: 0px 20px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="createdAt">created at:</div>
		<div id="fileName">file name:</div>
		<div id="fileUrl"></div>
		<div>
			<table id="characters"></table>
		</div>
		<div><button id="more">load more</button></div>
		<div id="count">
			<div id="checkboxes"></div>
			<button id="countButton">count</button>
			<table id="countTable"></table>
		</div>
		<script>
			let id = location.pathname.split("/")[3];
			let fields = [
				"name",
				"height",
				"mass",
				"hair_color",
				"skin_color",
				"eye_color",
				"birth_year",
				"gender",
				"homeworld",
				"date",
			];
			$(document).ready(function () {

				let nextPage;


				$("#more").click(() => loadMore());
				$("#countButton").click(() => count());

				$.ajax({
					url: "/api/characters/" + id,
					method: "GET",
					success: function (data) {
						buildCollection(data);
					},
					error: function (e) {
						console.log(e.responseJSON);
					},
				});

				$.ajax({
					url: "/api/characters/list/" + id,
					method: "GET",
					success: function (data) {
						buildCharacters(data, false);
					},
					error: function (e) {
						console.log(e.responseJSON);
					},
				});
				buildCount();
			});

			function buildCollection(data) {
				$("#createdAt").append(data.created_at);
				$("#fileName").append(data.file_name);
				$("#fileUrl").html($("<a>", { href: data.file_url }).html("download"));
			}

			function buildCharacters(data, skipHeader) {
				nextPage = data["next"];

				let table = $("#characters");
				if (!skipHeader) {
					let header = $("<tr>");
					table.append(header);
					$.each(fields, function (_, field) {
						header.append($("<th>").html(field));
					});
				}
				$.each(data.results, function (_, item) {
					let tr = $("<tr>");
					table.append(tr);
					$.each(fields, function (_, field) {
						tr.append($("<td>").html(item[field]));
					});
				});
			}

			function loadMore() {
				if (nextPage == null) {
					return;
				}
				$.ajax({
					url: nextPage,
					method: "GET",
					success: function (data) {
						buildCharacters(data, true);
					},
					error: function (e) {
						console.log(e.responseJSON);
					},
				});
			}

			function buildCount() {
				let checkboxes = $("#checkboxes")
				$.each(fields, function (_, field) {
					let label = $("<label>").html(field)
					let checkbox = $("<input>", { type: "checkbox", value: field, id: field })
					label.append(checkbox)
					checkboxes.append(label)
				})
			}

			function count() {
				let url = "/api/characters/count/" + id + "?"
				let checked = []
				$("input:checked").each(function (_, check) {
					url += '&headers=' + check.value
					checked.push(check.value)
				})

				$.ajax({
					url: url,
					method: "GET",
					success: function (data) {
						buildCountTable(data, checked);
					},
					error: function (e) {
						console.log(e.responseJSON);
					},
				});
			}

			function buildCountTable(data, checked) {
				checked.push('count')
				let table = $("#countTable")
				table.html("")
				let trHeader = $("<tr>")
				table.append(trHeader)
				$.each(checked, function (_, value) {
					trHeader.append($(
						"<th>").html(value)
					)
				})

				$.each(data, function (_, item) {
					let tr = $("<tr>")
					table.append(tr)

					$.each(checked, function (_, value) {
						tr.append($("<td>").html(item[value]))
					})
				})
			}
		</script>
</body>

</html>